@use 'styles/' as *;

html {
  overscroll-behavior: none;
}

.section {
  min-height: 100svh;
  background-color: #f7f5ff;
}

.stickyContainer {
  display: flex;
  justify-content: center;
  height: 100svh;
  padding-inline: 0.5rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 62rem;
  padding-bottom: 10rem;
  margin-top: auto;
}

.title {
  font-size: 6rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.15625rem;
  text-align: center;
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.05rem;
  text-align: center;
}

.qrContainer {
  display: flex;
  justify-content: center;
  height: 6.25rem;
  position: relative;
  z-index: 3;
}

.qrWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.25rem;
  aspect-ratio: 1 / 1;
  background-color: #e6c3ff;
  border-radius: 1.25rem;
}

.qrCode {
  width: 4rem;
}

.animationContainer {
  width: 100vw;
  height: var(--iphoneHeight);
  position: absolute;
  top: 100svh;
  left: 0;
  z-index: 4;
}

.iphoneWrapper {
  width: 50rem;
  height: var(--iphoneHeight);
  font-size: 0;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-66.8%);
}

.iphone {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.up {
  width: 20.25rem;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(4px);
}

.down {
  width: 33.125rem;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(1px);
  transform: rotate(30deg);
}

.middle {
  width: 15rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(33deg);
}
